<h3>My life "in coding"</h3>
<h6> I am a complete beginner/novice in working with any code </h6>
<p>I'm currently in my third month in which I have started "Code To Success" class throughout the summer. This is really the only oppertunity I have ever had to work with computers. Currently, I only know a few items in CSS, more in HTML,but I am most comfortable in Ruby on rails 5. However, I would love to learn more Ruby, HTML, CSS, and C# (C sharp).  </p>
