<h2>If you are intrested in me working for you,</h2>
<p> </p>
<h3> Here's my contact info</h3>
 <h4><a href="mailto:Alex.s.phillips00@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
<p>My cell phone munber is: </p>
<p><%= number_to_phone "801-960-0228" %></p>
 
 <p> I live here:</p>
 
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.1141257443364!2d-112.04058344872927!3d41.30638080887379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530d5b6e0d2e6d%3A0x9312f7077e8cb650!2s2420+W+2675+N%2C+Farr+West%2C+UT+84404!5e0!3m2!1sen!2sus!4v1501084300178" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
